@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center  align-content-center align-items-center">
    <div class="row">
        <div>
            <img src="~/img/logo_tmp.png" alt="logo logis" width="200" height="80" />
        </div>
    </div>
    <h1 class="display-4">Consulta de NUI's</h1>
    <br>
    <div class="row">
        <div>
            <label class="col-form-label">
                Para obtener la información de tus NUI's da
                <a onclick="mostrarInfo();" class="link-primary" style="cursor:pointer;" >click aqu&iacute;</a>
            </label>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="table-responsive card1 tableFixHead">
            <table id="resultTable" class="table table-striped table-bordered">
                <thead class="text-uppercase">
                    <tr>
                        <!-- Table headers will be dynamically inserted here -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Table data will be dynamically inserted here -->
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <p>This is just a test.</p>
    <script type="text/javascript">
        function mostrarInfo()
        {
            ws_cursor();
        }
    </script>
</div>