@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center  align-content-center align-items-center">
    <h1 class="display-4">Bienvendio a Logis</h1>
    <div class="row">
        <div>
            Prueba de consumo de WebService
        </div>
    </div>
    <br>
    <div class="row">
        <div>
            <button class="btn btn-primary" onclick="mostrarInfo();">Obtener Informacion</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="table-responsive card rounded-3 p-0 m-0 my-3 shadow w-100 ">
            <table id="resultTable" class="table table-striped table-bordered">
                <thead class="bg-red rounded">
                    <tr>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <script type="text/javascript">
        function mostrarInfo()
        {
            ws_cursor();
        }
    </script>
</div>